.main-button {
    display: flex;
    padding: 0.625rem 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    background: #406F6E;
    color: white;
    border: none;
    border-radius: 0.5rem;
    background: #406F6E;
    box-shadow: 
        0 2px 2px rgba(12, 14, 19, 0.25), 
        0 4px 5px 1px rgba(12, 14, 19, 0.15),
        inset 0 2px 3px #69A3A8,
        inset 0 -3px 2px #325A5A;
}