
html, body { 
    height: 100%;
    margin: 0;
    background: #A1C4BB;
    font-family: Arial, Helvetica, sans-serif;
}
.main-page {
    box-sizing: border-box;
    display: flex;
    max-width: 400px;
    padding-top: 3rem;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 0.625rem;
    flex: 1 0 0;
}

.button-box {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    gap: 0.625rem;
    padding: 1.5rem;
    flex: 1 0 0;
    background: linear-gradient(180deg, #A1C4BB 0%, #406F6E 100%);
}

.button {
    box-sizing: border-box;
    display: flex;
    height: 3rem;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    padding: 0.625rem 1rem;
    margin: 0.652rem 1rem;
    border-radius: 0.5rem;
    background: #406F6E;
    color: white;
    background: #406F6E;
    box-shadow: 
        0 2px 2px rgba(12, 14, 19, 0.25), 
        0 4px 5px 1px rgba(12, 14, 19, 0.15),
        inset 0 2px 3px #69A3A8,
        inset 0 -3px 2px #325A5A;
}
